html {
  overflow-x: hidden;
}

.logo {
  top: 60%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.bg {
  background-image: url("../assets/phone.png");
  background-position-x: center;
  background-position-y: center;
  background-size: cover;
  background-repeat: no-repeat;
}

#logo {
  animation-name: periodicfading;
  animation-duration: 3s;
  animation-iteration-count: infinite;
  animation-timing-function: ease-in-out;
  animation-delay: 0s;
}

#block-gray:hover {
  background: linear-gradient(to right, transparent 50%, gray 50%);
  background-size: 200% 100%;
  background-position: right bottom;
  transition: all 0.5s ease-out;
}

#block-black:hover {
  background: linear-gradient(to right, transparent 50%, black 50%);
  background-size: 200% 100%;
  background-position: right bottom;
  transition: all 0.5s ease-out;
}

@keyframes periodicfading {
  0% {
    opacity: 0;
  }
  50% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}

.animate-info {
  animation: fadeInUp;
  animation-duration: 1s;
}
