.logo {
  top: 60%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.bg {
  background-image: url("../assets/phone1.png");
  background-position-x: center;
  background-position-y: center;
  background-size: cover;
  background-repeat: no-repeat;
}
